a {
  color: black;
}

.contenedorCategorias {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
}

.categoria {
  width: 275px;
  height: 350px;
  text-align: center;
}
s .categoria img {
  width: 275px;
  height: 275px;
}

.categoria p {
  font-weight: bold;
  font-size: 15px;
}
